<html lang="pt-BR" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="./js/lib/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="./js/lib/angular.min.js"></script>
  <script src="./js/lib/angular-animate.min.js"></script>
  <script src="./js/lib/angular-aria.min.js"></script>
  <script src="./js/lib/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="./js/lib/angular-material.min.js"></script>
  <!-- Your application bootstrap  -->
  <script src="./js/app.js"></script>
  <script src="./js/controllers/main.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/custom-style.css">
</head>
<body ng-app="Clt" ng-cloak ng-controller="Main">
<div class="hero-image">
  <div class="hero-text">
    <h1>Reforma Trabalhista</h1>
    <p>Veja o comparativo de mudanças nos artigos da CLT caso a proposta da reforma passe</p>
  </div>
</div>

  <div layout="column" ng-repeat="artigo in artigos">
  <div flex style="text-align:center; margin-bottom:-20px;">
    <md-button class="md-fab md-primary" ng-bind="artigo.num + 'º'"></md-button>
  </div>
  <div flex>
    <div layout="row" >
      <div flex>
        <div layout="row" style="text-align:center;">
          <div flex style="background-color:#84c6f6; padding: 10px;">
            <p ng-bind="artigo.antigo.descricao"></p>
            <md-card ng-repeat="paragrafo in artigo.antigo.paragrafos">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Parágrafo {{$index + 1}}º</span>
                <span class="md-subhead">{{paragrafo.descricao}}</span>
              </md-card-title-text>
          </md-card>
          </div>
          <div flex style="background-color:#6dacda; padding: 10px;">
            <p>{{artigo.novo.descricao}}</p>
            <md-card ng-repeat="paragrafo in artigo.novo.paragrafos">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Parágrafo {{$index + 1}}º</span>
                <span class="md-subhead">{{paragrafo.descricao}}</span>
              </md-card-title-text>
          </md-card>
          </div>
  </div>
</div>
</body>
</html>
